.footstyle{
    display:flex;
    position: fixed;
    bottom: 0;
    background-color: black;
    width:100%;
    min-height: auto;
    color: whitesmoke;
}

.leftDiv{
    min-width: 50%;
}
.rightDiv{
    min-width: 50%;
}

.DevBox{
    display: flex;
    vertical-align: middle;
    text-align: center;
}

.userName{
    font-size: 24px;
}

.icon-link{
    background-color: red;
    margin-right: 20px;
}